@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html, body, div, h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl, dt, dd,
fieldset, form, label, legend, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, nav, article, section, aside, canvas, details, figcaption, figure, hgroup, menu, summary, time, mark, audio, video
* { margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; background:transparent; border-collapse:collapse;}
html,body { width:100%; height:100%; font-family: 'Nanum Gothic', '나눔고딕'; color: #3d3d3d; line-height:1.5; font-size: 14px; position:relative; }
article, nav, article, section, aside, canvas, menu, details, figcaption, figure, footer { display:block;  }
ul, ol, li { list-style:none; }
a { margin:0; padding:0; font-size:100%; text-decoration:none; vertical-align:baseline; color:#fff; background:transparent; }
img { vertical-align:top; }
table { border-collapse:collapse; border-spacing:0; }
input { margin:0; padding:0; box-sizing:content-box; vertical-align:top; appearance:none; border-radius:0; }

dd { -webkit-margin-start:0 !important; }
ul { -webkit-padding-start:0 !important; }

body { overflow-x:hidden; }

div#main { height:100%; }
section { height:100%; background-size: cover !important; background-position: center !important; }
section:after {content:""; display:block; clear:both;}
.section1 { background: url('../img/bg1.jpg') no-repeat; }
.section2 { background-color: #edf6f7; }
.section3 { background-color: #1f5ba9; }
.section4 { background-color: #15bebe; }
.section5 { background-color: #e3e3e8; }
.section6 { background: url('../img/bg6.jpg') no-repeat; }
.section7 { background: url('../img/bg7.jpg') no-repeat; }
.section8 { background: url('../img/bg8.jpg') no-repeat; }
.section9  { background-color: #575757; }

section { padding-top: 135px; box-sizing: border-box; position: relative; overflow: hidden; }
section > div, nav div { width: 72%; height: 100%; margin: 0 auto; position:relative; }
section > div {border: 0px solid red; }

.section2>div .rightBox { height: 600px; overflow: hidden; }
.section2>div .rightBox .aboutSlide { width: 200%; height: 100%; overflow: hidden; }
.section2>div .rightBox .aboutSlide>li { width:50%; height:calc(100% - 40px); overflow-y:auto; float:left; position: relative; }

nav { position: fixed; left: 0; top: 0; width: 100%; height: 60px; background:rgba(255, 255, 255, 0.8); z-index:1;  }
nav div > a img { margin-top: 14px;}
.menu { float: right; margin-top: -4px;}
.menu li { display: inline-block; margin-left:30px; }
.menu li:last-child { margin-left: 10px; }
.menu li a { display: block; font-size: 16px; font-weight: bold; color: #555; padding: 20px 5px; }
.menu li a:hover { color: #07ac7f; }

.mTitle { float: right; margin-top: 300px; opacity:0; }
.mTitle p { font-weight: 900; letter-spacing: -1px; }
.mTitle p:nth-child(1) { font-size: 60px; line-height: 1; color: #fff; }
.mTitle p:nth-child(2) { font-size: 30px; color: #0cd9a1; padding-top: 55px; }
.mTitle span { display: inline-block; color:#fff; font-size: 20px; padding: 20px 70px; background: #0cd9a1; margin-top: 90px; font-weight: bold; background-image: url('../img/btn_arrow.png'); background-repeat:no-repeat; background-position: center right 62px; }
.mTitle span:hover { background-position: center right 50px; transition: 0.3s; cursor: pointer;}


h2 { display: inline-block; position: relative; width: 140px; font-size: 28px; text-align: right; letter-spacing: -1px; color: #3d3d3d; }
h2:before { content: ""; display: block; position: absolute; left: 0; bottom: -15px; width: 140px; height: 8px; background: #3d3d3d; }
p { font-size: 14px; font-weight: bold; }
.white { color: #fff;  }
.white:before { background: #fff; }

section div > div { float: left; }
section > div .leftBox {width: 140px; height: 100%; margin-right: 70px; }
section > div .rightBox { width: calc(100% - 210px); position: relative; margin-top: 50px; }

.blinking{
-webkit-animation:blink 1s ease-in-out infinite alternate;
-moz-animation:blink 1s ease-in-out infinite alternate;
animation:blink 1s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
0% {opacity:0;}
100% {opacity:1;}
}
@-moz-keyframes blink{
0% {opacity:0;}
100% {opacity:1;}
}
@keyframes blink{
0% {opacity:0;}
100% {opacity:1;}
}

.aboutSlide li { width: 100%; height:550px; display: inline-block; overflow-y:auto; }
.section2 .bx-controls-direction { display: none; }
.section2 .bx-wrapper { margin: 0; }
.introduce { margin-bottom: 80px; word-break: keep-all;}
/* .pager { width: 100%; position: absolute; bottom: 0; left: 50%; transform: translateX(-10%); }
.pager-item:first-child { margin-right:8px; }
 */

.pager .pager-item { display: block; color: #3d3d3d; margin: 5px 0; font-weight: 900; cursor: pointer; }
.pager .pager-item.active { color: #118398; border-bottom: 1px solid #118398;  }

.keyword { width: 100%; }
.keyword > div { float: left; }
.keyword > div.blockBox { width:100%; }
.keyword > div:first-child { position: relative; width: 190px; margin-right: 30px; box-sizing:border-box; display:none; }
.keyword .cvskey { display:none; }

.keyword div p { width: 185px; height: 185px; border-radius: 100px; background: #53aa92;  position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);  }

.keyword div p > img { position: absolute; right: -30px; top: 50%; transform: translateY(-50%); }
.keyword div p span { color: #fff; font-size: 22px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
.keyword div ul { width: 100%; display: inline-block; }
.keyword div ul li { width: 115px; height: 115px; border-radius: 100px; background: #494949; text-align: center; float: left; margin: 10px; position: relative; box-sizing:border-box; }
.keyword div ul li span { color: #fff; font-weight: bold; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); word-break: keep-all; }
.keyword div ul li:nth-child(odd) { background: #9e9d9d; }

.about2 { width:100%; display: inline-block; }
.about2 > div { width:26%; height: 250px; display: inline-block; text-align:center; margin: 0 calc(22% / 6) ; margin-bottom:20px; }
.about2 > div img { width:100%; height:auto; }
.about2 > div:nth-child(4) { margin-left: 20%; margin-right:8%; }
.about2 > div:nth-child(5) { margin-left: 0%; margin-right:20%; }
.about2 > div p { margin-top: 20px; padding: 0 10px; word-break: keep-all; }

.about3 { display: inline-block; }
.about3 { width: 100%; display: inline-block; margin: 20px auto;  }
.about3 > div { width: 100%; position: absolute; left: 50%; top: 50%; transform: translate(-34%, 50%); }
.about3 > div > div { width: 325px; height: 280px; display: inline-block; text-align:center; margin: 0 10px; }
.about3 > div > div p { margin-top: 30px; padding: 0 10px; word-break: keep-all; }
.aboutSlide .bx-pager { transform: translateX(-8.5%); }
.section2 .leftBox h2 { margin-bottom: 40px; }

.section3 img { position: absolute; opacity:1;  }
.section3 .img1 { left:50%; top: 120%; transform: translate(122%, -60%);}
.section3 .img2 { left:50%;  top: 180%; transform: translate(-50%, -60%);}
.section3 .img3 { left: 50%; top: 120%; transform: translate(-193%, -70%);}

.section4 .caseSlide li p { text-align: center; color: #fff; padding: 10px; }
.section4 .caseSlide li a { width: 100%; height: 100%; display: block; position: absolute; top: 0; left: 0;}
.section4 .caseSlide li img { width: inherit; }
.section4 .caseSlide li:hover img {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(8,90,90,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(8,90,90,1);
    box-shadow: 0px 3px 5px 0px rgba(8,90,90,1);
}

.section4 .bx-wrapper { opacity: 0; margin:500px 0 0 60px; }
    .caseSlide>div { height:auto; }
    .bx-viewport { z-index:2; }
    .bx-controls { padding-top:10px; }
    .bx-controls-direction { width:83%; height:50px; margin:auto; position:absolute; top:0; bottom:-30px; left:0; z-index:1; }
    .bx-controls-direction>a { display:block; width:20px; height:50px; position:absolute; }
        .bx-prev { background:url('../img/left.png'); }
        .bx-next { background:url('../img/right.png'); right:0; }

    .bx-pager { width: 100%; position: absolute;bottom: -40px;left: 50%; transform: translateX(-10%);}
    .bx-pager .bx-pager-item { width:12px; height:12px; background:#fff; border-radius:50px; font-size:12px; line-height:12px;}
    .bx-pager .bx-pager-item:first-child { margin-right:0; }
    .bx-pager .bx-pager-item:not(:last-child) { margin-right:8px; }
    .bx-pager .bx-pager-item a { display:block; text-align: center; }
    .bx-pager-link.active { width:12px; height:12px; background:#118398; color:#118398; border-radius:50px; font-size:12px; line-height:12px; }


.press_logo { width: 100%; height: 80px; line-height: 80px; margin-bottom: 7%; }
.press_logo li { float:left; width: 30%; text-align: center; opacity: 0; margin-top: 180px;}
.press_logo li img { vertical-align:middle; }

section .rightBox > div { width: 90%; }

.tg { width: 100%; border-collapse: collapse; border-top:2px solid #3d3d3d; border-bottom: 2px solid #3d3d3d; margin: 0 auto; font-weight: bold; position: relative; margin-top: 520px; opacity: 0; }
.tg tr:hover { background: #fff; cursor: pointer; }
.tg tr td span {display:none; }

.tg tr > a { width: 100%; height: 100%; display: block; position: absolute; left: 0; top:0; }

.tg td { padding:15px 50px; border-bottom:1px solid #b6b6ba; text-align:center; vertical-align: middle; }
.tg td:nth-child(2) { text-align: left; padding: 25px 0; font-size: 16px;}
.tg td a {color:inherit; display: block; font-size: inherit;}

.tg .txtleft td {text-align: left;}
.nohover tr:hover { background:#fff; cursor: auto; }
.tg .bold td { color: red !important; }

.list_table { width: 100%; border-collapse: collapse; border-top:2px solid #e0b8b8; text-align:left; margin-top: 60px; }
.list_table th { background: #f5f5f5; border-bottom:1px solid #e0b8b8; color:#222; padding: 10px 5px; font-weight:400; }
.list_table td { padding:15px; font-size: 17px; color:#5b5b5b; border-bottom:1px solid #e2e2e2; vertical-align: middle;}
.list_table .list_txt td { padding: 40px 10px; line-height: 1.7; font-size: 17px; font-weight: 400; background: #fff; }
.list_table tr td table { width: 80%; }
.list_table tr td table th { font-size: 18px; border: 2px solid #fff; text-align: center; word-break: keep-all; }
.list_table .bold td { background: #fff2f2; font-weight: 600; }

.listBtn { display: /*table*/ none; margin: 40px auto; padding:0;}
.listBtn li { float:left; width: 30px; height: 30px; text-align: center; }
.listBtn li a { display: block; background: #fff; border: 1px solid #ddd; color: #333; line-height: 30px; }
.listBtn .list a { background: #333; color: #fff; }

.section6 .snsBox { margin-bottom: 40px; }
.section6 .snsBox div { float: left; }
.section6 .snsBox div a { display: block ;}
.section6 .snsBox > div { width: 31.5%; }
.section6 .snsBox .co_side { opacity: 0; margin-top: 100%; }
.section6 .snsBox .co_side a:first-child { margin-bottom: 15px; }
.section6 .snsBox .co_side img { width: 100%; }
.section6 .snsBox .co_center { margin: 0 15px; opacity: 0; margin-top: 100%; }
.section6 .snsBox .co_center img { width: 100%; }
.section6 div p { font-size: 20px; float: left; line-height: 2.5; }
.section6 div p span { font-size: inherit; color:#909090;}
.section6 ul { float: right; width: 30%;}
.section6 ul li { float: left; margin-left: 10px; width:15%;}
.section6 ul li a img { width: 100%; }

.section7 .teamBg { position:absolute; left: 0; top: 255px; width: 100%; height: 500px; background: #0d121e; opacity: 0.9;   }

.section7 .rightBox div { margin-top: 160px; }
.section7 .rightBox div ul { width: 50%; float: left; margin-top: 410px; opacity: 0; }
.section7 .rightBox div ul li { font-size: 16px; color: #fff; margin-bottom: 25px;  }
.section7 .rightBox div ul li span:first-child { width: 160px; display: inline-block; }
.section7 .rightBox div ul li span:last-child { color:#c0c0c0; }

.section8 .rightBox { margin-top: 130px }
.contact > div { float: left; color: #fff; margin-top: 100%; opacity: 0; }
.contact > div:first-child { margin-right: 80px; }
.contact > div:after { content:""; display:block; clear:both; }
.contact .nameEmail { display: inline-block; margin-bottom: 30px; }
.contact .nameEmail div:first-child { margin-right: 20px; }
.contact form input { border: none; width: 270px; height: 40px; padding: 10px 15px; box-sizing: border-box; border-radius: 5px; background:#fff;  }
.contact form textarea { width: 100%; height: 250px; padding: 10px 15px; box-sizing: border-box; border-radius: 5px; font-size: 14px; }

.contact .info ul { margin-bottom: 85px; }
.contact .info ul li { float: left; margin-right: 20px;  }
.contact .info ul li:after { content:""; display:block; clear:both; }
.contact .info h3 { font-size: 20px; color: #5affff; font-weight: bold; }
.contact .info div p { font-size: 16px; margin-bottom: 25px;  }

.btn_right { display:inline-block; width:auto; height:auto; margin-top:20px; }
.btn_right a {
    display:inline-block;
   -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
   -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
   -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
   -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
   transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360); padding: 12px 30px; font-size: 14px; font-weight: bold; border-radius: 4px; }
a.btn_green { background:#333; color:#fff; box-shadow: #022b2b 0 0px 0px 1px inset;}
a.btn_green:hover { color:#fff; box-shadow: #022b2b 0 0px 0px 40px inset;}

.section9 { height: 100%; padding-top: 0; box-sizing: border-box; position: relative; }
.section9>* { width:100%; float:left; }
.section9>.iframeB { width:100%; height:100%;}
.section9 iframe { background: #eee; width:100%; height:100%; pointer-events:none; }
.section9>.footer { height:auto; position:absolute; bottom:0; left:0; padding:30px; background-color:#575757; box-sizing: border-box; }
.section9 div ul { display: table; margin: 10px auto 30px; }
.section9 div ul li { float: left; margin-right: 20px;  }
.section9 div ul li:after { content:""; display:block; clear:both; }
.section9 div p { text-align: center; color: #afafaf; line-height: 2; word-break: keep-all; }

.navbar { display:none; width:44px; height:44px; position:fixed; top:6px; right:47px; border-radius:3px; cursor:pointer; z-index:9999; transition:top 0.2s ease-in-out; z-index: 5;}
.navbar a { display:block; width:25px; height:18px; margin:auto; position:absolute; top:0; bottom:0; right:0; left:0; }
.navbar span{ display:block; width:20px; height:4px; text-align:right;border-radius:15px; margin-bottom:3px; background:#333; transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; }
.navbar a .bar-2 { width:25px; }
.navbar.after .bar-1{ width:24px; transform:translate(-0px, 7px) rotate(45deg); -webkit-transform:translate(-0px,7px) rotate(45deg); -ms-transform:translate(-0px,7px) rotate(45deg); }
.navbar.after .bar-2{ opacity:0; transition:0.3s; }
.navbar.after .bar-3 { width:24px; transform:translate(-0px, -7px) rotate(-45deg); -webkit-transform:translate(-0px,-7px) rotate(-45deg); -ms-transform: translate(-0px,-7px) rotate(-45deg); }

.m_menu, .black_bg { display: none; }

.dots { z-index: 0; list-style: none; padding: 0; position: fixed; top: 50%; right:20px; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.dots li a { padding: 10px; width: 4px; height: 5px; display: block; }
.dots li a:before { content: ''; position: absolute; width: 8px; height: 8px; background: rgba(255, 255, 255, 0.48); border: 1px solid #fff;
border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px;  -webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease; -moz-transition: -moz-transform 0.3s ease, background-color 0.3s ease; -ms-transition: -ms-transform 0.3s ease, background-color 0.3s ease; -o-transition: -o-transform 0.3s ease, background-color 0.3s ease;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.dots li a.active:before { content: ''; background-color: #FFFFFF; width: 14px; height: 14px; margin-top: -4px; left: 7px; background: rgb(12, 217, 161); -webkit-transform: scale(1.0); -moz-transform: scale(1.0); -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
}


@media screen and (max-width: 1600px) {
    .keyword div ul li { width:90px; height:90px; }
    .section6 div p { font-size: 18px; line-height: 2;}
}

@media screen and (max-width: 1295px) {

body { position: relative; }
section > div, nav div { width: 85%; }
header { position:fixed; top:0; left:0; }
header nav { display:none; width:40%; height:100%; padding: 0 50px; box-sizing:border-box; margin:0; background: #fff; position:fixed; top:0; right:0; z-index:10; }
header .menu { width:100%; padding-top:60px; }
header nav li { width:100%; height:50px; color:#fff; margin:0; }
header nav li a { padding: 20px 0; }
.navbar, .m_menu, .black_bg  { display:block; }
.menu { display: none; }
#bg { z-index: 1; }

.m_menu { position: fixed; top: 0; right:0; width: 45%; height: 100%; background: #fff; z-index: 2; padding: 60px 0 0 40px; box-sizing: border-box; display:none; }
.black_bg { display: none; position: fixed; top: 0; left:0; width: 100%; height: 100%; background: rgba(0,0,0,0.6); z-index: 1; }
.m_menu li a { font-size: 1.8rem; font-weight: bold; line-height: 2; color: #555; }
.m_menu li a img { vertical-align: middle; }

section { padding-top: 80px; }
.mTitle { width: 100%; text-align: right; margin-top: 30px; position: absolute; right: 50%; top: 50%; transform: translate(40%, -90%); }

.m_menu div { position: absolute; bottom: 20px; left: 40px;  }
.m_menu div h3 { font-size: 0.8rem; color: #aaa; }
.m_menu div p { font-size: 1rem; margin-bottom: 8px; }

.section1 {background-position: left -130px center !important;}

section > div .leftBox { width: 100%; height: auto; margin: 0; }
section > div .rightBox { width: 100%; margin-top: 40px;}
section .rightBox > div {width: 100%; position: absolute; top: 100%; left: 50%; transform: translateX(-50%); }
.section4 .rightBox > div {transform: translateX(-58%);}
.section8 .rightBox > div {transform: translateX(-46%);}
.bx-wrapper {width: 100%; }
.introduce { margin-bottom: 40px; }
.keyword > div:first-child { width: 150px; }
.keyword div p { width: 150px; height: 150px; }
.keyword div ul { width: 100%; }

.section2 .leftBox h2 { float: left; margin-right: 50px; margin-bottom: 0; }
.section2 .rightBox img { width: 70%; }
.pager .pager-item { display: block; margin-top: 35px; margin-right: 20px; font-weight: 900; cursor: pointer; }


.about2  {width: 100%; position: absolute; top: 0; left: 55%; transform: translateX(-50%); }
.about2 > div { width: 30%; height:280px; }
.about3 > div { left: 50%; top: 100%; transform: translate(-30%, 90%); }
.about3 > div > div  { width: 30%; height: auto; }

.bx-pager { transform: translateX(-4%); }

.bx-controls-direction { width: 95%; left: 2%; }
.press_logo li a { display: block; }
.press_logo li img { width: 60%; }

.section6 .rightBox > div:nth-child(2) { display: none; }

.contact form input { width: 200px; }
.contact > div:first-child { margin-right: 40px; }
.contact .info div p { font-size: 14px; }
.contact .nameEmail div:first-child { margin-right: 10px; }
.section9 div ul { margin: 25px auto; }
}



@media only screen and (max-width:768px) {
    html, body { font-size:12px; min-width:inherit; }
    .black_bg, .section3 .img1, .section3 .img3, .bx-controls-direction { display:none; }
    .m_menu { width: 100%; }
    .navbar { right: 3.5%; }

    .dots { right: 10px; }
    section { padding-top: 90px; box-sizing: border-box; overflow: hidden; }
    h2 { text-align: left; font-size: 2rem; }
    h2:before { bottom: -7px; height: 3px;}
    .navbar { top: 7px; }
    nav div > a img { margin-top: 18px; width: 200px;  }
    .mTitle {width: 100%; margin-top: -20px; position: absolute; left: 50%; top: 50%;
    transform: translate(-48%, -110%); text-align: left; }
    .mTitle p:nth-child(1) {font-size: 4.5rem; }
    .mTitle p:nth-child(2) { font-size: 2rem; padding-top: 20px; }
    .mTitle a { font-size: 1.4rem; padding: 10px 30px; margin-top: 60px; background-position: center right 22px;  }
    .mTitle a:hover { background-position: center right 12px;  }

    .tg {table-layout: fixed; }
    .tg tr td:not(:nth-child(2)) { display: none;  }
    .tg tr td:nth-child(2) { padding: 20px 20px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 14px; }
    .tg tr td:nth-child(2) span { display: block; color: #aaa;}

section .rightBox > div { transform: translateX(-50%);}
.contact > div:first-child { margin-right: 60px; }
.keyword div ul li { width: 75px; height: 75px; }
.pager .pager-item { margin-top: 25px; }
.section2 > div .leftBox { margin-bottom: 20px; }
    .section3 .img2 { width: 130%;}

    .bx-wrapper { margin: 50px auto; }
    .bx-pager { transform: translateX(-9%);}
    .section4 .caseSlide li p { text-align: left; }
    .section5 .rightBox > div { top: 100%; }
    .press_logo { height: 20px; line-height: inherit; margin: 10% 4%; }

    .section6 div p { font-size: 16px; }
    .section6 .snsBox { margin-top: 30px; }
    .section6 .snsBox > div { width: 47%; }
    .section6 .snsBox .co_center { margin: 0 0 0 7px;}
    .section6 .snsBox .left { width: 100%; margin-top: 6px !important; }
    .section6 .snsBox .left a { width: 47%; float: left; }
    .section6 .snsBox .co_side a:first-child { margin-bottom: 7px; }
    .section6 .snsBox .left a:first-child { margin-bottom: 0px; margin-right: 7px; }


    .section7 .teamBg { top: 140px; }
    .section7 .rightBox div { margin-top: 5px; }
    .section7 .rightBox div ul { width: 47%;}
    .section7 .rightBox div ul li { font-size: 14px; margin-bottom: 20px; }
    .section7 .rightBox div ul li span:first-child { width: 100%; }


    .section8 .rightBox { margin-top: 40px; }
    .contact form input { width: 100%; }
    .contact .nameEmail { margin-bottom: 0; }
    .contact form textarea { height: 80px; }
    .contact .nameEmail div, .contact form textarea { width: 100%; }
    .contact .info ul { display: table; margin: 10px 0; }
    .contact .info h3 {font-size: 12px; }
    .contact .info div p { margin-bottom: 8px; }
    .contact .info ul { display: none; }
    .btn_right {margin: 10px 0; }

    .section9 { padding-top: 0; }
    .section9 div ul { margin: 20px auto; }
    .section9 > p { width: 100%; height: 70%; }
    .section9 iframe { height: 70%; }

  .section9 iframe { height:100%; }
  .section9>.footer { width: 100%; padding:20px; }
  .section9 div ul { margin-top:10px; }
  .section9 div p { padding:0 20px; font-size:12px; line-height:16px; }

    .section2 > div .rightBox { width:100%; height: calc(100% - 76px); box-sizing: border-box; display: inline-block; margin-top:0; }
    .section2 .bx-wrapper { margin-top:40px; height:calc(100% - 40px); box-sizing:border-box; top:0; }
    .bx-viewport { overflow-y:auto !important; height:calc(100% - 40px) !important; }
    .bx-pager { bottom:0; }

    .about2 { position:static; transform:none; margin-top: 30px; }
    .about2 > div { width:44%; height: auto; margin:0; }
    .section2 .rightBox .about2 img { width:100%; }
    .about2 > div:nth-child(odd) { margin-right:2%; }
    .about2 > div:nth-child(3) { margin: 0 22%; }
    .about2 > div:nth-child(4) { margin-right: 2%; margin-left: 0; }
    .about2 > div p { padding:0; margin-bottom: 20px; font-size: 12px; }

    .keytwo>* { float:left; }

    /* used cases */
    .section4 .rightBox > div { transform: translateX(-69%); }
    .section4 .bx-pager { bottom:-40px; }
  }


@media only screen and (max-width:470px) {

.mTitle {transform: translate(-48%, -95%);}
.mTitle span { padding: 20px 65px; background-position: center right 53px; font-size:18px;}

}
